
body {
    background-color: grey;
    font-size: .9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px
};

.checkInList {
    color: none;
}